{{- $p := .Site.Params -}}
<script>
  // util: inyectar script de forma segura
  function injectScript(src, attrs){
    var s=document.createElement('script'); s.src=src; s.defer=true;
    if(attrs){ Object.keys(attrs).forEach(k=>s.setAttribute(k, attrs[k])); }
    document.head.appendChild(s);
  }

  // carga GA4
  function loadGA4(id){
    if(!id) return;
    injectScript('https://www.googletagmanager.com/gtag/js?id='+id);
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    window.gtag = gtag;
    gtag('js', new Date());
    gtag('config', id, { anonymize_ip: true });
  }

  // carga Plausible
  function loadPlausible(domain){
    if(!domain) return;
    injectScript('https://plausible.io/js/plausible.js', { 'data-domain': domain });
  }

  // expone un loader global que llamará el banner al aceptar
  window.__loadAnalytics = function(){
    {{- if eq $p.analytics.provider "ga4" -}}
      loadGA4('{{ $p.analytics.ga4_id }}');
    {{- else if eq $p.analytics.provider "plausible" -}}
      loadPlausible('{{ $p.analytics.plausible_domain }}');
    {{- end -}}
  };
</script>